$green-color: pink;
$border-color: #ddd;
$icon-color: #aaa;
$input-padding: 6px 50px 6px 50px;

$border-radius: 50px;
$navbar-height: 62px; // Chiều cao của navbar Bootstrap

/* colors */
$darkBlue: #217093;
$medBlue: #4eb8dd;
$lightBlue: #ddf1fa;
$inputBG: #f3fafd;