@import 'variables';

a {
    text-decoration: none !important; 
}

.card-link {
    color: black; 
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.search-container {
    position: relative;
    margin: 0 auto;

    input {
        width: 500px;
        padding: $input-padding;
        border-radius: $border-radius;
        border: 1px solid $border-color;
        outline: none;
        font-size: 15px;
        box-shadow: none;
        
    }

    .fa-search {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: $icon-color;
        font-size: 15px;
    }
}
