<div class="mt-4">
    
    <!-- Nút quay lại -->
    <div class="mb-3">
        <a onclick="history.back()" class="text-muted" style="cursor: pointer;"><i class="fa-solid fa-reply fa-sm me-2"></i>Quay lại</a>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <p>{{course.description}}</p>
        </div>
        <div class="col-lg-3">
            <iframe width="360" height="200" src="https://www.youtube.com/embed/{{course.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <button>Đăng ký học</button>
            <h5>{{course.level}}</h5>
        </div>
    </div>
</div>