
<div class="container">

    <!-- Nút quay lại -->
    <div class="mb-3">
        <a onclick="history.back()" class="text-muted" style="cursor: pointer;"><i class="fa-solid fa-reply fa-sm me-2"></i>Quay lại</a>
    </div>

    <!-- Tiêu đề bài viết -->
    <h1 class="fw-bold fs-2 mb-5">{{post.title}}</h1>

    <!-- Nội dung bài viết -->
    <div class="mb-5">
        {{{post.content}}}
    </div>
    
</div>

