<nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="##" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src={{account.avatar}} alt="Ca-py-ba-ra" class="user-avatar">
            {{account.fullName}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="/admin/my-account"><i class="fa-regular fa-user"></i>Hồ sơ của tôi</a>
            </li>
            <li>
              <a class="dropdown-item" href="/admin/auth/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Đăng xuất</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
