<nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="##" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://www.rainforest-alliance.org/wp-content/uploads/2021/06/capybara-square-1.jpg.optimal.jpg" alt="Ca-py-ba-ra" class="user-avatar">
            Hữu Phát
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="">Đăng khóa học</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="">Khóa học của tôi</a></li>
            <li><a class="dropdown-item" href="">Bài viết của tôi</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>