<nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="##" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://www.rainforest-alliance.org/wp-content/uploads/2021/06/capybara-square-1.jpg.optimal.jpg" alt="Ca-py-ba-ra" class="user-avatar">
            Hữu Phát
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#"><i class="fa-regular fa-user"></i>Tài khoản</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>Đăng xuất</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
