<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar" style="width: 240px;">
    <a class="navbar-brand text-center d-block logo-white" href="/admin">
        <img src="/img/LOGO FINAL.png" alt="logo" style="width: 100px; height: auto;">
    </a>  
    <ul class="nav nav-pills flex-column mb-auto mt-4">
        <li class="nav-item">
            {{!-- active --}}
            <a href="#" class="nav-link text-white "> 
                <i class="fas fa-chart-line me-2"></i>
                Tổng quan
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-newspaper me-2"></i>
                Quản lý bài viết
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-graduation-cap me-2"></i>
                Quản lý khóa học
            </a>
        </li>
        <li>
            <a href="/admin/roles" class="nav-link text-white">
                <i class="fas fa-users-cog me-2"></i>
                Nhóm quyền
            </a>
        </li>
        <li>
            <a href="/admin/roles/permissions" class="nav-link text-white">
                <i class="fas fa-user-shield me-2"></i>
                Phân quyền
            </a>
        </li>
        <li>
            <a href="/admin/accounts" class="nav-link text-white">
                <i class="fas fa-users me-2"></i>
                Danh sách tài khoản
            </a>
        </li>
                <li>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-cog me-2"></i>
                Cài đặt hệ thống
            </a>
        </li>
    </ul>
</div>
