<div class="sidebar bg-dark text-white vh-100 p-3">
    <h4 class="text-center">Admin Panel</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/dashboard">
                <i class="bi bi-house-door"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/courses">
                <i class="bi bi-book"></i> Courses
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/users">
                <i class="bi bi-people"></i> Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/admin/settings">
                <i class="bi bi-gear"></i> Settings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        </li>
    </ul>
</div>
