
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 HTML Template by Colorlib</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<!-- Sing in  Form -->
<div class="mt-5">
  <section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="/img/signin-image.jpg" alt="sing up image"></figure>
                <a href="/user/register" class="signin-image-link" style="color: #4292dc;" >Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" action="/user/login" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="email"><i class="fa-solid fa-envelope"></i></label>
                        <input type="text" name="email" id="email" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fas fa-lock"></i></label>
                        <input type="password" name="password" id="password" placeholder="Password"/>
                    </div>
                    <div class="form-group d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" name="rememberMe" id="rememberMe" class="agree-term" />
                            <label for="rememberMe" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <a href="/user/forgot-password" class="forgot-password-link" style="color: #4292dc;">Forgot Password?</a>
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                      <ul class="socials">
                          <li><a href="#"><i class="display-flex-center fa-brands fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="display-flex-center fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="display-flex-center fab fa-google"></i></a></li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
  </section>
</div>

